#!/home/thom/sss/sss
@depend("org.slf4j" % "slf4j-api" % "1.6.4")
@depend("org.slf4j" % "slf4j-simple" % "1.6.4")
@depend("org.rogach" %% "scallop" % "0.3.9")
@include("lib.sss")

println("hello world")

import org.slf4j._

val log = LoggerFactory.getLogger(classOf[Logger])
log.info("hello log")

//syntax error

import org.rogach.scallop._

object Conf extends ScallopConf(args) {
  val apples = opt[Int]("apples", required = true)
}

println(Conf.apples())

//println(getUrl("http://www.yahoo.com"))
